body {
    font-family: 'Poiret One', cursive;
    color: #A2AD9C;  
    margin: 0; 
}

.main-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.graphic-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-image: url("./Images/DSC_0094.jpg");
    background-size: cover;
    min-width: 45vw;
    max-height: 100vh;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    background-color: rgba(182, 178, 178, 0.75); 
}

.logo {
    width: 6vw;
}

.logo-text {
    color: rgb(88, 87, 87); 
    font-size: max(18px, 2vw);
    font-weight: bold;
}

.image-credit p {
    padding: 5px;
    margin-left: 15px;
    font-size: 0.90em;
    font-weight: bold;
    color: #c4f0e6; 
    text-align: center;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    min-width: 55vw;
    background-color:#3b4c4c;
    padding: 1.2rem 2vw 3rem 2vw;
}

.top-text {
    font-size: 1.2em;
    margin-bottom: 5vh;
}

.form-container {
    margin-bottom: 5vh;
}


label {
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: 700;
}

input {
    all: unset;
    margin-right: 10px;
    border: 1px solid #A2AD9C;
    border-radius: 3px;
    background-color:  #bef3ca;
    height: 25px;
    width: max(150px, 20vw);
    font-family: 'Jura', sans-serif;
    font-weight: 575;
    color: rgb(30, 34, 34);
}


input:focus {
    background-color:  #77d3b4;
    border: 1px solid rgba(4, 71, 51, 0.555);
    font-weight: 650;
    box-shadow: 1px 1px;
}


.name, 
.contact,
.pass {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}

.password-tip {
    display: flex;
}

.pwdLengthMsg {
    display: none;
    width: max(150px, 20vw);
    font-family: 'Jura', sans-serif;
    font-weight: bold;
}

.pwdNoMatch {
    display: none;
    width: max(150px, 20vw);
    font-family: 'Jura', sans-serif;
    font-weight: bold;
}

.input {
    display: flex;
    flex-direction: column;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    font-weight: 900;
  }
  
  .tooltip .tooltiptext {
    font-family: 'Jura', sans-serif;
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

button {
    background-color: #FFC06F;
    border: #ff915a;
    box-shadow: 1px 1px 1px #FFC06F;
    width: 175px;
    height: 40px;   
    border-radius: 10px;
    font-family: 'Poiret One', cursive;
    font-size: 15px;
}

button:hover,
button:focus {
    box-shadow: 2px 2px 5px #ff915a;
    font-weight: bold;
}

.login {
    margin-top: 20px;
}

a:link {
    color: #A2AD9C;
    font-weight: bold;
}

.sign-up{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}